@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Secular+One&display=swap');


body {
background: linear-gradient(269.84deg, #0C164D 0.11%, #190B22 99.83%);
color: #FFFFFF;
display: flex;
margin: 0;
height: 80vh;
width: 95vw;
overflow: hidden;

}

.secular {
    font-family: Secular One;
}
.lora {
    font-family: Lora;
}
.large {
    font-size: 60px;
}

.title {
position: absolute;
left: 70%;
display: flex;
flex-direction: column;
align-items: flex-end;
height: 100px;
}

.title .secular { 
font-size: 60px;
letter-spacing: 0.09em;
}

.title .lora {
font-size: 24px;
letter-spacing: 0.6em;
color: #FFD029;
}

.sun {
position: absolute;
width: 1100px;
height: 1100px;
background: #FFD029;
transform: translateX(-137%);
filter: blur(1px);


}

.planets {
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
margin-left: 20%;
margin-top: 10%;
}

.round {
border-radius: 8928329px;
}

.mercury {
width: 14px;
height: 14px;
background-color: #888888;
margin-left: 30px;
}


.venus {
width: 26px;
height: 26px;
background-color:#E7CDCD;
}

.earth {
    width: 28px;
height: 28px;
background: #428ED5;
}

.mars {
width: 14px;
height: 14px;
background: #EF5F5F;
}

.jupiter {
width: 188px;
height: 188px;
background: #E29468;

}


.saturn {
width: 144px;
height: 144px;
background: #C7AA72;
position: relative;
display: flex;
}

.saturn svg {
position: absolute;
}

.uranus {
width: 66px;
height: 66px;
background: #C9D4F1;
}
.neptune {
width: 66px;
height: 66px;
background: #7A91A7;
}

.overlay {
    position: absolute;
    background: linear-gradient(269.84deg, #0C164D 0.11%, #190B22 99.83%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.hidden {
    display: none;
}

.planetpreview {
    position: absolute;
    width: 1100px;
    height: 1100px;
    background: #428ED5;
    transform: translateX(-90%) translateY(-120px);
    filter: blur(1px);
    }


.planetpreview-second {
    position: absolute;
width: 1340px;
height: 1340px;
left: -1170px;
top: -222px;

background: rgba(66, 142, 213, 0.1);
}
.planetpreview-third {
position: absolute;
width: 1404px;
height: 1404px;
left: -1184px;
top: -254px;

background: rgba(66, 142, 213, 0.06);

}

.planetinfo {
    width:1100px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left:40%;
}
.planetnamelatin {
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.6em;
    color: #FFD029;
    font-weight: 400;

}
.bold-description {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.09em;

}

.planetname {
    height:40px;
    font-weight: 400;
    letter-spacing: 0.09em;
}

.planet-specifics-wrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.planetspecifics-1 {
    padding: 20px 50px 0px 0px;
    width: 400px;
}

.planetspecifics-2 {
    padding: 20px 50px 0px 0px;
    width: 300px;
}
.planetspecifics-3 {
    padding: 20px 50px 0px 0px;
    width: 400px;
}
.planetspecifics-4 {
    padding: 20px 50px 30px 0px;
    width: 300px;
}

.planetspecifics-5 {
    padding: 20px 50px 30px 0px;
    width: 300px;
}